/* Add your Home component styles here */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
  

.division {
  flex: 1;
  margin: 10px;
  padding: 10px;
  color: chocolate;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}
